@charset "UTF-8";
* {
  font-family: "Merriweather", serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#nav-top {
  height: 200px;
  background-color: rgb(232, 160, 73);
  background-size: cover;
  text-shadow: 0px 0px 1px black;
}
#nav-top .logo_klein {
  float: left;
  margin: 40px;
  height: 100px;
  width: auto;
}
#nav-top .logo {
  display: none;
}
#nav-top .heading {
  text-align: center;
  font-size: 25px;
  color: black;
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
}
#nav-top .ueberschrift {
  font-size: 100px;
}
#nav-top #nav-top-trigger {
  display: none;
}
#nav-top #nav-top-trigger:checked ~ .nav-top-trigger em {
  background-color: transparent;
  transition: background-color 0.5s;
}
#nav-top #nav-top-trigger:checked ~ .nav-top-trigger em::before {
  transform: rotate(-135deg);
  transition: transform 0.5s;
}
#nav-top #nav-top-trigger:checked ~ .nav-top-trigger em::after {
  transform: rotate(135deg);
  transition: transform 0.5s;
}
#nav-top #nav-top-trigger:checked ~ .menuelist {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}
#nav-top .nav-top-trigger {
  float: right;
  height: 200px;
  margin: 50px;
}
#nav-top .nav-top-trigger em {
  display: block;
  width: 28px;
  height: 2px;
  background-color: #333333;
  margin: 38px 10px;
  position: relative;
  transition: background-color 0.5s;
}
#nav-top .nav-top-trigger em::before, #nav-top .nav-top-trigger em::after {
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  background-color: #333333;
  position: absolute;
  left: 0;
  transition: transform 0.5s;
}
#nav-top .nav-top-trigger em::before {
  transform: translateY(8px);
}
#nav-top .nav-top-trigger em::after {
  transform: translateY(-8px);
}
#nav-top .menuelist {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  background-color: rgb(232, 160, 73);
  margin: 0;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
#nav-top .menuelist > li {
  border-bottom: 3px solid rgb(194, 97, 52);
}
#nav-top .menuelist > li:last-child {
  border-bottom: none;
}
#nav-top .menuelist > li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}
#nav-top .menuelist > li a:hover {
  background-color: #ffc300;
  color: #333;
}
#nav-top .menuelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
#nav-top .clearfix {
  clear: both;
}

@media only screen and (min-width: 992px) {
  #nav-top .nav-top-trigger {
    display: none;
  }
  #nav-top .logo_klein {
    display: none;
  }
  #nav-top .logo {
    display: block;
    float: left;
    margin: 40px;
    height: 100px;
    width: auto;
  }
  #nav-top .menuelist {
    border-top: 3px solid black;
    position: static;
    float: right;
    display: block;
    opacity: 1;
    line-height: 50px;
    margin-top: 10px;
    background-color: transparent;
    overflow: visible;
    pointer-events: auto;
  }
  #nav-top .menuelist > li {
    float: left;
    border-bottom: none;
    height: 80px;
    position: relative;
    padding-left: 10px;
  }
  #nav-top .menuelist li a {
    display: block;
    padding: 16px;
    color: black;
    text-decoration: none;
  }
  #nav-top .menuelist li a:hover {
    background-color: black;
    color: antiquewhite;
  }
}
/* Start Main */
.hauptbereich {
  display: grid;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  line-height: 1.5em;
}

h4 {
  font-size: 25px;
  font-weight: bold;
  line-height: 2em;
}

span {
  font-size: 50px;
}

.ausbau {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

.projekt {
  grid-column: 3;
  grid-row: 1;
  text-align: left;
}

.beschreibung {
  grid-column: 2/span 2;
  grid-row: 1/span 3;
  margin-top: 200px;
  padding-right: 50px;
  text-align: left;
}

.fotos {
  display: grid;
  margin-right: 30px;
  padding: 10px;
  gap: 10px;
  grid-auto-flow: row dense;
}

.item img {
  grid-column: 1;
  grid-row: 1/span 4;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1px;
}

.vertical {
  grid-row: span 2;
}

.horizontal {
  grid-column: 2/span 2;
}

/* Ende Main */
/* Start Fuß */
.footer {
  height: 60px;
  background-color: rgb(194, 97, 52);
  background-size: cover;
  background-position: 50% 60%;
  color: rgb(255, 255, 255);
}

.logo_unten {
  float: left;
  font-size: 14pt;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 2pt;
}

.logo_unten a {
  color: black;
  text-decoration: none;
}

.symbol_unten {
  float: right;
  font-size: 14pt;
  padding: 15px;
}

.symbol_unten a {
  text-decoration: none;
  color: black;
}

.row_unten {
  float: right;
}

/* Ende Fuß *//*# sourceMappingURL=produkte.css.map */